.App {
  text-align: left;
  width: 500px;
  margin-left: 0px;
  margin-right: auto;
  font-family: Monaco, Menlo, Consolas, monospace;
  font-weight: 200;
  font-size: small;
}

.Header {
  background-color: #1d4e89;
  height: 10%;
  padding: 10px;
  color: white;
  text-align: left;
}

.MenuLink {
  color: white;
}

.Main>a:visited, .Main>a {
  color: grey;
}

.Main {
    padding: 10px;
}

.App-intro {
  font-size: large;
}

.App-screenshot {
  height: 348px;
  padding: 10px;
}

.Main a, a:visited {
  text-decoration: underline;
}

h2 {
  font-stretch: condensed;
}

img {
  height: 200px;

}

ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lavender;
    }
    .App {
      width: 100%;
    }
}
