body {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  overflow-x: hidden;
  letter-spacing: 0.3px;
}

img {
  object-fit: cover;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 44px;
  color: black;
  margin: 10px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  margin-top: 1em;
  text-transform: uppercase;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 18px;
}

hr {
  color: lightgrey;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 5em;
  padding: 0;
}

.App { 
  padding: 18px;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
  text-align: center;
  display: inline-block;
}

.ContentSection {
  display: inline-block;
}

.Main {
  text-align: left;
  line-height: 1.5em;  
  width: 80vw;
  max-width: 48rem;
  margin: auto;
  display: inline-block;
}

.Header {
  height: 10%;
  padding: 10px;
  color: black;
  text-align: center;
}

.Profile {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  height: 300px;
}

.App-screenshot {
  margin-right: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  height: 348px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.Main a, a:visited {
  text-decoration: underline;
  line-height: 1.5em;  
}

.MenuLink {
  color: black;
  font-weight: 600;  
  font-size: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  text-align: center;
}

.ProExperience {
  display: block;
  border-left: dashed lightgrey 2px;
  padding-left: 36px;
  padding-bottom: 12px;
}

.ProExperience ul{
  display: block;
  margin-left: -38px;
  padding-left: 36px;
  padding-bottom: -8px;
  border-left: solid darkgrey 2px;
}

.Projects {
  display: block;
  border-left: dashed lightgrey 2px;
  padding-left: 36px;
  padding-bottom: 24px;
}

.ProjectDetails {
  display: block;
  margin-left: -38px;
  padding-left: 36px;
  padding-top: -10px;
  padding-bottom: -10px;
  border-left: solid darkgrey 2px;
}


@media all and (min-width:0px) and (max-width: 800px) {
  /* put your css styles in here */

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;

  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  body {
    margin-left: 4px;
    margin-right: 4px;
    overflow-x: scroll;
  }

  img {
    height: auto;
    width: 100%;
  }

  .Main {
    padding: 1em;
    width: 80vw;
    font-size: 14px;
  }

  .App-screenshot {
    height: auto;
    width: 100%;
  }

  .MenuLink {
    color: black;
    font-weight: 600;  
    font-size: 18px;
    margin-right: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  .Projects {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }

  .ProjectDetails {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}

  iframe {
    width: 100%;
    height: 100%;  
  }
}