.App {
  text-align: left;
  width: 600px;
  margin-left: 0px;
  margin-right: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  word-wrap: break-word;
}

.Header {
  background-color: #1d4e89;
  height: 10%;
  padding: 10px;
  color: white;
  text-align: left;
}

.MenuLink {
  color: white;
  margin-right: 10px;
  text-transform: lowercase;
}

.Main>a:visited, .Main>a {
  color: grey;
}

.Main {
  padding: 10px;
}

.App-intro {
  font-size: large;
}

.App-screenshot {
  text-align: left;
  height: 348px;
  padding: 10px;
}

.Main a, a:visited {
  text-decoration: underline;
}

h2 {
  font-weight: 500;
  font-size: 21px;
}

img {
  height: 200px;

}

ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: #F0F0F0;
    }
    .App {
      width: 100%;
    }
}
